.containera {
    display: flex;
    padding: 10px;
}
body{
    background-color: #d8d8d8;
}

.left {
    flex: 3;
    /* 60% width */
    background: white;
    padding: 20px;
    height: 95vh;
    overflow-y: auto;
    border-radius: 10px;
    margin-right: 40px;
}

.right {
    flex: 2;
    /* 40% width */
    background: white;
    padding: 20px;
    height: 95vh;
    overflow-y: auto;
    border-radius: 10px;
}

.list {
    background-color: #E8B298;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    cursor: pointer;
    align-items: center;
}
.list:hover {
    background-color: #A36361;
    color:white;
}


.infomessage {
    padding-left: 10px;
}



textarea{
    height:240px;
}