.containera {
    display: flex;
    padding: 10px;
}

body {
    background-color: #d8d8d8;
}

.left {
    flex: 3;
    background: white;
    padding: 20px;
    height: 92vh;
    overflow-y: auto;
    border-radius: 10px;
    margin-right: 40px;
}

.right {
    flex: 2;
    background: white;
    padding: 20px;
    height: 92vh;
    overflow-y: auto;
    border-radius: 10px;
}

.list {
    background-color: #E8B298;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    color: black;
    cursor: pointer;
    align-items: center;
}

.list:hover {
    background-color: #A36361;
    color: white;
}

.infomessage {
    padding-left: 10px;
}

textarea {
    height: 240px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
    .containera {
        flex-direction: column;
        padding: 20px;
    }


    .left,
    .right {
        margin-right: 0;
        margin-bottom: 20px;
        
    }
    
   
}
