.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: "Jost", sans-serif;
    margin: 0;
    position: fixed; /* Fixes the header to the top */
    top: 0;
    left: 0;
    width: 100%; /* Ensures the header spans the entire width */
    z-index: 1000; /* Keeps it above other elements */
    transition: background-color 0.3s ease-in-out;
}

.header.scrolled {
    background-color: #000000; /* Black background */
}

.navbar {
    display: flex;
    align-items: center;

    margin-right: 35px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin-top: 5px;
}
nav ul li a {
    margin-right: 35px;
    font-family: "Jost", sans-serif;
    color: white;
    padding-left: 30px;
    text-decoration: none;
    margin-bottom: 100px;
    font-size: 18px;
}
nav ul li a:hover {
    color: #f9f9f9;
    transition: 0.3s;
}

.navbar a {
    color: #e8b298;
    text-decoration: none;
}

/* Active link styling */
.navbar a.active-link {
    color: white;
    text-decoration: underline;
    text-decoration-color: #eecc8c;
    text-decoration-thickness: 2px;
}

.header.bg-brown {
    background-color: #000000;
    color: black;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -70px;
    /* Adjust as needed */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.material-symbols-outlined {
    cursor: pointer;
}

.icon {
    font-size: 45px;
    color: #eecc8c;
    margin-top: 13px;
    margin-right: 30px;
}

.icon-size {
    font-size: 40px;
    color: #fff;
}

.logo {
    width: 100px;
    height: 110px;
    margin-left: 30px;
}

/* For responsiveness maclab */
@media (min-width: 2240px) {
    .logo {
        width: auto;
        height: 200px;
        margin-left: 70px;
    
    }
    .navbar{
    margin-right: 75px;
    }
    nav ul li{
        margin-right: 25px;
    }
    nav ul li a{
        font-size: 30px;
    }
}
