.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: "Jost", sans-serif;
    margin: 0;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    transition: background-color 0.3s ease-in-out;
}

.header.scrolled {
    background-color: #000000; /* Black background */
}

.navbar {
    display: flex;
    align-items: center;

    margin-right: 35px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
nav ul li {
    margin-top: 5px;
}
nav ul li a {
    margin-right: 35px;
    font-family: "Jost", sans-serif;
    color: white;
    padding-left: 30px;
    text-decoration: none;
    margin-bottom: 100px;
    font-size: 18px;
}
nav ul li a:hover {
    color: #f9f9f9;
    transition: 0.3s;
}

.navbar a {
    color: #e8b298;
    text-decoration: none;
}

/* Active link styling */
.navbar a.active-link {
    color: white;
    text-decoration: underline;
    text-decoration-color: #eecc8c;
    text-decoration-thickness: 2px;
}

.header.bg-brown {
    background-color: #000000;
    color: black;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: -70px;
    /* Adjust as needed */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.material-symbols-outlined {
    cursor: pointer;
}
.icon {
    font-size: 45px;
    color: #eecc8c;
    margin-right: 30px;
    display: flex; /* Flexbox ensures proper centering */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.icon-size {
    font-size: 40px;
    color: #fff;
}

.logo {
    width: 100px;
    height: 110px;
    margin-left: 30px;
}
.navbarVertical {
    display: none;
}

/* For responsiveness maclab */
@media (min-width: 2240px) {
    .logo {
        width: auto;
        height: 200px;
        margin-left: 70px;
    }
    .navbar {
        margin-right: 75px;
    }
    nav ul li {
        margin-right: 25px;
    }
    nav ul li a {
        font-size: 30px;
    }
}

@media (width: 360px) {
    .logo {
        width: 100px;
        height: 110px;
        margin-left: 30px;
    }
    .navbar {
        display: none;
    }

    .menu {
        font-size: 80px;
        color: white;
        display: flex;
        position: fixed;
        top: 10px;
        right: 30px;
        z-index: 1000;
        cursor: pointer;
    }

    .navbarVertical {
        background-color: #333;
        font-size:20px;
        border-radius: 10px;
        color: white;
        padding: 20px;
        display: flex;
        height: 30vh;
        width:80vw;
        margin-left:40px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
        transform: translateX(100%);
        right: 0;
        top: 0;
        position: fixed;
        transition: transform 0.3s ease-in-out;
    }
    
.navbarVertical ul {
    display: block;
}

    .navbarVertical.show {
        transform: translateX(0);
        margin-top: 100px;
        margin-right: 30px;
    }
}

.dropdown-content a {
    margin: 10px 10px;
    display: block;
    text-decoration: none;
    color: black;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    padding:0;
}
