.pdetail{
    text-align: center;
    font-size: 20px;
    padding: 50px 0;
}
.pmethod {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.pmethod a {
    min-height: 350px; 
    width: 500px;
}
.glogo{
    width: 300px;
    height: 250px;
   margin-left: 20px;
margin-bottom:20px;
} 
.pperson{
    width: 300px;
    height: 250px;
    margin-left: 20px;
    margin-bottom:20px;
}
.qr-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.qrsample {
    width: auto;
    height: 250px;
}
.file{
    background-color: #A36361;
}
.dt{
    margin-top: 20px;    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.details{
    margin-bottom: 20px;
}




footer {
    text-align: center; /* Centers the content inside the footer */
    padding: 20px;
    background-color: #000000; /* Optional: Set your desired background color */
}

.footerp {
    font-size: 25px;
    margin-bottom: 0 10px;/* Adds spacing between the text and icons */
    color:rgb(238, 204, 140); /* Optional: Adjust text color */
}

.footericon {
    display: flex;
    justify-content: center; /* Centers the icons horizontally */
    gap: 15px; /* Adds space between the icons */
}

.footericon a ion-icon {
    font-size: 24px; /* Adjust icon size */
    color:rgb(238, 204, 140);
    text-decoration: none;
}

.footericon a:hover {
    color: #0077b5; /* Change icon color on hover */
}



.allrights{
    text-align: center;
    color: white;
}